<div class="message">
    <div class="message__author" data-name="{{name}}" data-role="user-photo" style="background-image: url(/files/{{name}}.png)"></div>
    <div class="message__content">
        <div class="message__author--name">{{name}}</div>
        <div class="message__text">{{text}}</div>
        <div class="message__date">{{date}}</div>
    </div>
</div>